.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: black;
  margin-bottom: 20px;
}

.about {
  width: 100%;
  height: calc(90vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: #4e4e4e;
  height: 30px;
}

.about .prompt {
  width: 60%;
  font-size: 70px;
}
.prompt svg {
  font-size: 100px;
  margin: 10px;
  padding: 10px;
  color: white;
  cursor: pointer;
}
.skills {
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.divide{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

}
.sk{
  text-align: center;
  margin-left: 85%;
}

.skills h1 {
  color: rgb(97, 212, 212);
}

.skills .list {
  list-style: none;
  width: 60%;
}

.photo {
  padding: 20px;
}
.mayur {
  width: 60%;
  height: 40%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  color: #4e4e4e;
  background: #e6ab90;
  /* background-color: rgb(214, 200, 200); */
}
.mayur img {
  border-radius: 200px;
  width: 30%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-left: 15px;
  background-color: white;
}

.m {
  color: brown;
  text-shadow: 3px 1px blue;
}
.m1 {
  color: brown;
  font-style: italic;
  font-weight: 200;
}

.text {
  text-align: justify;

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.heading{
  color: rgb(97, 212, 212);
}



@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
    /* height: calc(80vh - 70px); */
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 10px;
  }

  .skills h2 {
    font-size: 30px;
  }
  .mayur {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    background: #d0b9d0;
  }
  .mayur img {
    border-radius: 20px;
    width: 50%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin-top: 15px;
  }
  .divide{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
  }
  .sk{
    text-align: center;
    margin-left:20px;
  }
  
 
}
