.navbar {
    width: 100%;
    height: 70px;
    background: #4e4e4e;
  }
  
  .links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
    font-weight: 500;

  }
  .navbar a:hover{
      background-color:rgb(247, 52, 8);
    border-radius: 5px ;
    padding: 8px;
    color:white;
    cursor:pointer;
    text-decoration: solid;
  }
  .navbar a:active{
    background-color:rgb(247, 52, 8);
  border-radius: 5px ;
  padding: 8px;
  color:white;
  cursor:pointer;
  text-decoration: solid;
}
  
  .toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggleButton svg {
    font-size: 50px;
  }
  .toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
  }
  
  #open {
    height: 100vh;
  }
  
  #open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }
 
  @media only screen and (max-width: 900px) {
    .navbar{
      background:white;
    }
    .navbar a {
       width: 50%; 
      color: #4e4e4e;
    }
    .navbar a:hover{
      color: blue;
      border-radius: 2px ;
      cursor:pointer;

    }
  }
  
  @media only screen and (max-width: 600px) {
    .toggleButton {
      display: flex;
    }
    #close a {
      display: none;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .toggleButton {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links {
      flex-direction: row;
    }
  }
